<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon>
        menu
      </mat-icon>
    </button>
    <span>Machine Coding Questions</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item>Home</a>
      <a mat-list-item>About</a>
      <a mat-list-item>Products</a>
      <a mat-list-item>Nothing</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 90vh;">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>