<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
      <mat-icon>
        menu
      </mat-icon>
    </button>
    <span>Machine Coding Questions</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <app-youtube-studio-sidenav
    [collapsed] = "collapsed()"
    >
    </app-youtube-studio-sidenav>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{'margin-left': collapsed() ? '13em' : '6em'}">
    <div style="height: 90vh;">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>